In [1]:
import pandas as pd
import numpy as np

In [7]:
penguins_data = pd.read_csv("D:\Projects\penguins\penguins.csv")
penguins_data.head()

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\daksh\AppData\Local\Temp\ipykernel_40768\4059237240.py:1: SyntaxWarning: invalid escape sequence '\P'
  penguins_data = pd.read_csv("D:\Projects\penguins\penguins.csv")

,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex,species
0,39.1,18.7,181.0,3750.0,MALE,Adelie
1,39.5,17.4,186.0,3800.0,FEMALE,Adelie
2,NaN,18.0,195.0,3250.0,FEMALE,Adelie
3,NaN,NaN,NaN,NaN,NaN,Adelie
4,36.7,19.3,193.0,3450.0,FEMALE,Adelie